*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.main{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:
      hsl(220deg 100% 80%);
  padding: 30px;
}

.main1{
  display: flex;
  justify-content: center;
  background-color: white;
  min-height: 27rem;
  min-width: 23rem;
  border-radius: 11px;
  padding: 14px;
  box-shadow: 1px 2px 8px hsl(0deg 0% 0% / 25%);
}

.main11{
  width: 95%;
  text-align: center;
  padding: 10px 0;
}

.heading{
  background: -webkit-linear-gradient(#eee, #3949ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.inputBar{
  margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #8e98a1;
}
.input{
  width: 85%;
  padding: 10px 8px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 15px;
}
.btn{
  width: 37px;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 10px;
}
.btn:hover{
  color: #2196f3;;
  background-color: white;
}
.btn img{
  height: 100%;
  width: 100%;
}

.lists{
  margin-top: 22px;
  margin-bottom: 25px;
}
.listItem{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 11px 0px;
  position: relative;
  border-bottom: 2px solid #6b77be;
}
.text1{
  width: 95%;
  padding: 10px 11px;
  border-radius: 4px;
  font-size: 15px;
  text-align: left;
  font-weight: 500;
}
.delBtn{
  cursor: pointer;
  border: none;
  background: none;
  width: 26px;
  position: absolute;
  right: 9px;
}
.delBtn img{
  width: 100%;
  height: 100%;
}
.editBtn{
  cursor: pointer;
  border: none;
  background: none;
  width: 26px;
  position: absolute;
  right: 49px;
}
.editBtnN{
  cursor: pointer;
  border: none;
  background: none;
  width: 31px;
}
.editBtnN img{
  width: 100%;
  height: 100%;
}
.editBtn img{
  width: 100%;
  height: 100%;
}

.removeBtn {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
.removeBtn {
  padding: 11px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
  font-size: 16px;
  margin: auto;
 }

 .removeBtn:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }

 @media screen and (max-width: 700px){
.main1{
  min-width: 20rem;
}
.input{
  font-size: 14px;
}
.btn {
  width: 34px;
}
.text1{
  font-size: 14px;
}
.editBtn{
  width: 25px;
}
.delBtn {
  width: 25px;
}
.btn {
  width: 32px;
}
}

@media screen and (max-width: 450px){
.editBtn {
    width: 23px;
}
.delBtn {
  width: 23px;
}
.main1 {
  min-width: 18rem;
}
.removeBtn{
  padding: 11px 31px;
  font-size: 14px;
}
}